/* primary color */
$darkBlue: #001732;
$richBlue: #002855;
$midBlue: #0077b6;
$brightBlue: #00a9e0;
$lightBlue: #a7d8f0;
$white: #f1f1f1;

/* secondary color */
$red: #ff0000;
$yellow: #ffc300;
$teal: #008080;

$paddingMobile: 1rem;
$paddingDesktop: 6rem;
